* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

main {
	display: block;
}

body {
	margin: 0;
	text-align: center;
	background-color: black;
}

.wrapper {
	margin: 0 auto;
	width: 100vw;
	max-height: 100vh;
}

h1 {
	font-size: 2.5em;
}

h2 {
	margin: 0 auto;
	letter-spacing: 0.5em;
	font-size: 2em;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.head {
	height: 10vh;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.main {
	height: 80vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	white-space: pre-line;
	color: #FFFF00;
}

.shedules {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 50vw;
	top: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	line-height: 1.50;
}

.vks {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 50vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	line-height: 1.5;
	letter-spacing: 0.2em;
}

.vks h1 {
	font-size: 3.2em;
}

.footer {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 10vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	letter-spacing: 0.09em;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #fff;
}

.footer h3 {
	margin: 0 auto;
	font-size: 2.1em;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}